header{
    font-family: sans-serif;
    color: antiquewhite;
    font-size: 24px;
    text-align: center
}
body {
    background-color: black;
    color: antiquewhite;
    font-size: 20px;
    min-width: 50%;
    background-attachment: fixed;
    background-size: cover;
}
label{
    display: block;
}
button{
    background-color: antiquewhite;
    margin: 5px;
}
input[name="R"]{
    margin-top: 19px;
}
input[name="Y"]{
    margin-top: 15px;
}
input[name="X"]{
    background-color: antiquewhite;
    border: 2px solid #555555;
}
input[name="X"]:hover {
  background-color: #555555;
  color: white;
}
table{
    width: 100%;
    text-align: center;
}

button[type="submit"]{
    width: 19.5%;
}
button[type="button"]{
    width: 19.5%;
}
button[type="submit"] span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button[type="submit"] span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -35px;
  transition: 0.5s;
}

button[type="submit"]:hover span {
  padding-right: 30px;
}

button[type="submit"]:hover span:after {
  opacity: 1;
  right: 0;
}


button[type="button"] span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button[type="button"] span:after {
  content: '\2020';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -35px;
  transition: 0.5s;
}

button[type="button"]:hover span {
  padding-right: 30px;
}

button[type="button"]:hover span:after {
  opacity: 1;
  right: 0;
}

.invalid{
    color: red;
}

#area_diagram {
    display: flex;
    background-color: white;
    overflow: hidden;
    width: 560px;
    height: 561px;
    margin: 0.5em;
    cursor: pointer;
    border: 5px solid black;
    border-radius: 10px;
}

.diagram {
    min-width: 150px;
    min-height: 150px;
}
